body{
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #abf3ab;
  --background-secondary: #b8b8b8;
  --background-third: #e2e2e2;
  --text-primary: black;
  --background-imagelogin: white;
  --input: white;
  --button-yellow: rgb(158, 142, 4);
  --box-shadow-main: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  --button-blue: #8D97F2;
  --button-blue-hover: #5f6def
}

.login-wrapper{
  background: var(--background);
}
.login-main-logo-wrapper{
  background: var(--background-imagelogin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border: 1px solid var(--text-primary);
  box-shadow: var(--box-shadow-main);
  border-radius: 50px;
}

.login-main-logo-img{
  width: 25rem;
  height: 20rem;
  opacity: 0.9;
  border-radius: 50px;
  margin-bottom: 40px;
}
.login-main-logo-text{
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}

.login-change-theme-wrapper{
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 0.5% 0 0;
}

.login-change-theme{
  text-align: right;
  font-size: 1.3rem;
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
}
.login-change-theme:hover{
  transform: scale(1.1);
  transition: 0.7s all ease;
}
.login-main-content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10%;
}
.login-form-wrapper{
  padding: 5% 3%;
  border: 1px solid var(--text-primary);
  border-radius: 50px;
  background: var(--background-imagelogin);
  box-shadow: var(--box-shadow-main);
}

.login-form-text{
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin-bottom: 15%;
  font-weight: 600;
  text-align: center;
}
.login-form-input{
  width: 90%;
  height: 3rem;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  padding: 0 5%;
  margin-bottom: 7%;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  background: var(--input);
  color: var(--text-primary);
}
.login-form-input::placeholder{
  color: var(--text-primary);
  opacity: 0.5;
}
.login-form-input:focus::placeholder {
  color: gray;
}
.login-form-additional-func{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
  font-size: 0.8rem;
}
.login-form-links{
  text-decoration: underline;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.login-form-buttons-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.login-form-button-div{
  width: 100%;
  height: 3rem;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #494949;
  color: white;
  border: none;
}
.login-form-button{
  width: 100%;
  height: 100%;
  background: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
  border: none;
  cursor: pointer;
}
.login-form-button-div:hover{
  background: #494949;
  transition: 0.7s ease;
}
.login-form-button:disabled{
  cursor: no-drop;
}
.login-form-button:active:hover{
  color: white;
  transition: 0.7s ease;
}
.active-button-div{
  background: var(--button-yellow);
}
.active-button{
  color: white;
  color: black;
}

/*Register page*/
.register-wrapper{
  background: var(--background);
  min-height: 100vh;

}
.register-form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  max-height: 90vh;
}
.register-form{
  position: relative;
  background: var(--background-imagelogin);
  border: 1px solid var(--text-primary);
  padding: 3% 5% 1% 5%;
  border: 1px solid var(--text-primary);
  box-shadow: var(--box-shadow-main);
  border-radius: 50px;
  min-width: 65vw;
}
.edit-profile-form{
  position: relative;
  background: var(--background-imagelogin);
  padding: 3% 5% 1% 5%;
  box-shadow: var(--box-shadow-main);
}
.register-header{
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0 0 5% 0;
  font-weight: 600;
  text-align: center;
}
.register-inputs-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 18rem;
}
.register-input-additional{
  max-width: 15vw;
}
.register-single-input-wrapper{
  display: flex;
  justify-content: center;
}

.register-form-avatar-image{
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  object-fit: cover;
}
.register-form-grid-wrapper{
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
}
.register-avatar{
  grid-area: 1/2/4;
}
.register-email-grid{
  justify-self: left;
  width: 100%;
}
.register-password-grid{
  justify-self: right;
  width: 100%;
}
.register-last-name-grid{
  justify-self: left;
  width: 100%;
}
.register-first-name-grid{
  justify-self: right;
  width: 100%;
}
.register-birth-date-grid{
  justify-self: right;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 4;
}
.register-location-grid{
  justify-self: left;
  width: 100%;
}
.register-username-grid{
  grid-area: 4/2/4/2;
}

.button-already-have-acc{
  display: flex;
  justify-content: center;
}
.button-already-have-acc .link{
  border: none;
  background: none;
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;
}

/*Nav*/
nav {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #1a1a1a;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 30px;
}

nav a:hover {
  background-color: var(--button-blue);
  color: white;
  transition: 0.5s all ease;
  border-radius: 20px;
}
.logo {
  padding: 10px;
  width: 100px;
  height: 70px;
  border-radius: 20px;
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border-radius: 20px;
  background: var(--background-third);
  padding: 8rem 10rem;
}
.loader-image{
  font-size: 5rem;
  object-fit: contain;
}

.loader-text{
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}

.no-team-wrap{
  width: 100% ;
  height: calc(89vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-team-content{
  border-radius: 15px;
  width: 700px;
  height: 300px;
  height: 300px;
  background: var(--background);
}

.no-team-text{
  text-align: center;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  padding: 50px 20px;
}
.create-team-button{
  margin: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background: #8D97F2;
  cursor: pointer;
}
.create-team-button:hover{
  background: #494949;
  color: #e2e2e2;
  transition: 0.7s ease;
}
.team-wrapper{
  margin: 50px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  border-radius: 50px;
}
.your-team{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: #8D97F2;
  border-radius: 50px 50px 0 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin-bottom: 50px;
}
.team-logo-wrapper{
  width: 400px;
  height: 400px;
}
.team-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.team-info-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px 0;
}
.team-name{
  font-size: 44px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0 50px 50px 50px;
}
.team-description{
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0 50px;
  width: 500px;
}

.flex-button{
  margin: 5px 40px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.flex-button>svg{
  font-size: 30px;
}
.flex-button>div{
  font-size: 25px;
}
.yellow{
  color: yellow;
}

.red{
  color: #b50303;
}
.yellow:hover, .red:hover{
  transform: scale(1.1);
  transition: 0.7s ease;
}

/* Modal add team */

.modal-add-team-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-add-team-content-with-panel{
  width: 1150px;
  height: 600px;
  background: var(--background);
  border: 1px solid var(--text-primary);
  border-radius: 20px;
  background: var(--background-secondary);
}

.modal-add-team-top-panel-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-primary);
  background: var(--background);
  border-radius: 20px 20px 0 0;
}
.modal-add-team-top-panel-text{
  font-size: 1rem;
  color: var(--text-primary);
  padding: 0.5rem 0.8rem;
  font-family: "Montserrat", sans-serif;
}
.modal-add-team-top-panel-header{
  color: var(--button-yellow);
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

.modal-add-team-top-panel-text:first-child:hover{
  cursor: pointer;
  color: var(--button-yellow);
  background: var(--background-third);
  border-radius: 20px 0 0 0;
  transition: 0.5s background-color ease;
}
.modal-add-team-top-panel-text:last-child:hover{
  cursor: pointer;
  color: var(--button-yellow);
  background: var(--background-third);
  border-radius: 0 20px 0 0;
  transition: 0.5s background-color ease;
}

.modal-add-team-content{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  gap: 5rem;
}
.modal-add-team-image-part-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-add-team-image-wrapper{
  width: 42rem;
  height: 30rem;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-third);
}
.modal-add-team-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.modal-add-team-desc-part-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-add-team-textarea{
  border-radius: 5px;
  background: var(--background-third);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.modal-add-team-desc-text{
  margin-bottom: 10px;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.input-add-team-name{
  width: 310px;
  height: 20px;
  border-radius: 5px;
  background: var(--background-third);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 20px;
}

.profile-content-wrapper{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.profile-content{
  position: relative;
  margin-top: 30px;
  border-radius: 30px;
  padding: 20px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  gap: 100px;
}
.profile-content-image-wrapper{
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.profile-content-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.profile-content-data-wrapper{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.profile-date{
  margin-bottom: 10px;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 100;
  display: flex;
  gap: 30px;
  align-items: center;
}
.edit-button:hover{
  cursor: pointer;
  color: var(--button-yellow);
  transition: 0.5s color ease;
}


.no-players-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.no-players-text{
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 100;
  display: flex;
  gap: 30px;
  align-items: center;
}
.add-player-button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: #080000;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-player-button:hover{
  cursor: pointer;
  background: #e2e1e1;
  color: #080000;
  border: 1px solid #080000;
  transition: 0.5s background-color ease;
}
.players-text{
  margin: 20px 0;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}
.players-cards-wrapper{
  margin: 10px 300px
}
.player-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background: #abf3ab;
  margin-bottom: 30px;
  border-radius: 50px;
  position: relative;
}
.player-injured{
  background: #f72b4e;
  color: #ffffff;
}
.player-ok{
  background: #abf3ab;
  color: #080000;
}
.player-name-image-wrapper{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.player-image-wrapper{
  width: 200px;
  height: 200px;
}
.player-image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.player-names-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.player-name{
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 100;
  display: flex;
  gap: 30px;
  align-items: center;
}
.player-data-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.player-data{
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 100;
  display: flex;
  gap: 30px;
  align-items: center;
}
.player-grade{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  right: -50px;
  padding: 30px;
  border-radius: 50%;
  border: 1px solid #080000;
  font-size: 28px;
}
.grade-perfect{
    background: #00f800;
    color: #080000;
}
.grade-good{
    background: #a7f12f;
    color: #080000;
}
.grade-ok{
  background: #eee207;
  color: #080000;
}
.grade-bad{
  background: #bc0220;
  color: #080000;
}
.grade-null{
    background: #ffffff;
    color: #080000;
}

.add-player-button-2-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-player-button-2{
  width: 200px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 20px;
  background: #080000;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #080000;
}
.add-player-button-2:hover{
  cursor: pointer;
  background: #e2e1e1;
  color: #080000;
  transition: 0.5s all ease;
}
.players-buttons-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.select-add-player-position{
  width: 330px;
  height: 40px;
  border-radius: 5px;
  background: var(--background-third);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 0.5rem;
  margin-bottom: 20px;
}
.player-recover{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: -50px;
  padding: 30px;
  border-radius: 50%;
  border: 1px solid #080000;
  font-size: 28px;
  background: #abf3ab;
  color: #1a1a1a;
}
.player-injury{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: -50px;
  padding: 30px;
  border-radius: 50%;
  border: 1px solid #080000;
  font-size: 28px;
  background: #bc0220;
  color: white;
}

.player-injury:hover{
  cursor: pointer;
  background: #f7516d;
  color: #170505;
  transition: 0.5s all ease;
}
.player-recover:hover{
  cursor: pointer;
  background: #036003;
  color: #f3f3f3;
  transition: 0.5s all ease;
}
.player-wrapper:hover{
  cursor: pointer;
  background: #bebebe;
  color: #080000;
  transition: 0.5s all ease;
}
body::-webkit-scrollbar {
  display: none;
}